<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="uk">
    <body>
        <div  layout:fragment="header">
            <nav class="navbar navbar-expand-lg bd-navbar fixed-top" style="background-color: #e3f2fd;">
                <div class="container-md">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarTogglerDemo03"
                            aria-controls="navbarTogglerDemo03"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Internet Store</a>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
<!--                                <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>-->
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>

<!--                <div class="navbar-header">-->
<!--                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">-->
<!--                        <span class="icon-bar"></span>-->
<!--                        <span class="icon-bar"></span>-->
<!--                        <span class="icon-bar"></span>-->
<!--                    </button>-->
<!--                    <a class="navbar-brand" href="#">My project</a>-->
<!--                </div>-->
<!--
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li th:classappend="${module == 'home' ? 'active' : ''}">
                            <a href="#" th:href="@{/}">Home</a>
                        </li>
                        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                            <a href="#" th:href="@{/task}">Tasks</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${#authorization.expression('!isAuthenticated()')}">
                            <a href="/signin" th:href="@{/signin}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('isAuthenticated()')}">
                            <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                            </a>
                            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                        </li>
                    </ul>
                </div>
-->

        </div>
    </body>
</html>